
:root{/*variables de css*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;


    --fuente-principal:3.8rem;
}/*variables de css*/


html{
    font-size: 62.5%;

}

body{
    font-size: 16px;
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.titulo{
    text-align: center;
    font-size: 3.8rem;
  font-family: "Krub", sans-serif;
  
}


.titulo span{
    font-size: 2rem;
    
}

.contenedor{
    max-width: 120rem;
    margin:0 auto;
}

.nav-bg { 
    background-color:var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 480px){
    
}

@media (min-width: 768px){
    .navegacion-principal{
        flex-direction: row;
}
}

@media (min-width: 1140px){
    h1{

    }

}

@media (min-width: 1400px){
    h1{
        
    }
}


.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;

}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);

}

body{
    background-color: yellow;
    font-size: 3rem;
}

@media (min-width: 480px){
    h1{

    }
}

@media (min-width: 768px){
    h1{

    }
}