
:root{/*variables de css*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;


    --fuente-principal:3.8rem;
}/*variables de css*/


html{
    font-size: 62.5%;

}

body{
    font-size: 16px;
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.titulo{
    text-align: center;
    font-size: 3.8rem;
  font-family: "Krub", sans-serif;
  
}


.titulo span{
    font-size: 2rem;
    
}

.contenedor{
    width: 120rem;
    margin-top: 10rem;
    margin-right: auto;
    margin-bottom: 10rem;
    margin-left: auto;
}

.nav-bg { 
    background-color:var(--secundario);
}

.navegacion-principal{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;


}

.navegacion-principal a:hover {
    background-color: var(--primario);
}